.box{
    width : 100px;
    /* height : 100px; */
    text-align : center;
    color: white;
    border : 2px solid black;
    margin : 10px;
}

section {
    display : flex;
    flex-wrap : wrap;
    border : 2px dashed #000;
    width : 100%;
    height : 300px;
    margin-bottom : 20px;
}

.a{
    background : yellowgreen;
}

.b{
    background : violet;
}

.c{
    background : cornflowerblue;
}

.d{
    background : tomato;
}

.e{
    background : tan;
}

.f{
    background : lawngreen;
}